{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Bootstrap Css -->
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Custom Css -->
    <script src="https://code.jquery.com/jquery-3.6.2.min.js"
            integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
            crossorigin="anonymous"></script>
    <title>YbBlog</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == "error" %}
            <div class="alert alert-danger">{{ message }}</div>
          {% else %}
            <div class="alert alert-{{ message.tags }} ">{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <main>
        {% block body %}
        {% endblock body %}
      </main>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
