{% extends "includes/layout.html" %}
{% block body %}
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ article.title }}</h1>
            <p class="lead">{{ article.author.username }}</p>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">Posted on {{ article.created_at }} by {{ article.author.username }}</div>
            <!-- Post categories-->
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
        </header>
        <!-- Preview image figure-->
        {% comment %} <figure class="mb-4">
            <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..."/>
        </figure> {% endcomment %}
        <!-- Post content-->
        <section class="mb-5">
            <p class="fs-5 mb-4">{{ article.content|safe }}</p>
        </section>
        <section id="image">
            {{ article.article_image }}
        </section>
    </article>
{% endblock body %}
